numpy>=1.13.1
awkward>=0.12.0,<1.0
uproot-methods>=0.7.0
cachetools
pkgconfig
lz4
zstandard
backports.lzma;python_version<"3.3"
pandas
requests
matplotlib
dask[array]
dask[dataframe]
fsspec
cloudpickle
pyyaml
xxhash
